<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/signup/signup_1.css">
</head>

<body>
    <header>
        <h1>회원가입</h1>
    </header>
    <section>

        <article>
            <div class="container1">
                <h2>일반 회원가입</h2>
                    <a href="/signup2">일반 회원가입</a>
                
                
            </div>
            <div class="container2">
                <h2>간편 회원가입</h2>
                <div class="button2">
                    <button class=""><img src="../../source/naver_signup.png" alt=""></button>
                    <br>
                    <button class=""><img src="../../source/kakao_signup.png" alt=""></button>
                </div>
            </div>


        </article>



    </section>
    <footer>
        <div id="footer-container">
            <p>브랜드명<p>
            <p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
            <p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
            <p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
            <p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
        </div>
    </footer>
</body>

</html>