<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원가입</title>
<link rel="stylesheet" href="/css/signup/signup_success.css">
<script src="/lib/jquery-3.6.3.js"></script>
<script src="/lib/jquery-ui.js"></script>
<script src="/js/signup/signup_success.js"></script>
</head>
<body>
	<form action="/">
	<div class="modal">
		<div class="modal_content">
			<div class="title">
				<h1></h1>
			</div>
			<div class="content_space">
				<p>가입완료</p>
			</div>
			<div class="button">
				<button class="modal_button">확인</button>
			</div>
		</div>
	</div>
	</form>

</body>
</html>