<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세메뉴</title>
    <link rel="stylesheet" href="/css/menu/detailed_menu.css">
    <script src="/lib/jquery-3.6.3.js"></script>
    <script src="/js/menu/detailed_menu.js"></script>
</head>

<body>
     <th:block th:include="/fragments/header.html"></th:block>
    <div class="menu_container">
        <ul>
           <li><a href="/menu/all">전체메뉴</a></li>
            <li><a href="/menu/popularmenu">인기메뉴</a></li>
            <li><a href="/menu/setmenu">세트메뉴</a></li>
            <li><a href="/menu/side">사이드</a></li>
            <li><a href="/menu/beverage">음료</a></li>
        </ul>
    </div>
    <div class="main_container">
        <div class="main_img">
            <img src="/img/menu/menu/detailed-menu.png" alt="">
        </div>
        <div class="sub_container">
            <div class="menu_img">
                <img src="/img/menu/menu/quattro-cheese-whopper-junior-large-set.png" alt="">
                <p>제품 라지셋트</p>
                <p>제품+감자튀김(L)+콜라</p>
                <p>9,000</p>
            </div>
            <div class="menu_img">
                <img src="/img/menu/menu/quattro-cheese-whopper-junior-medium-set.png" alt="">
                <p> 제품 셋트</p>
                <p>제품+감자튀김(R)+콜라(R)</p>
                <p>7,000</p>
            </div>
            <div class="menu_img">
                <img src="/img/menu/menu/quattro-cheese-whopper.png" alt="">
                <p>제품 단품</p>
                <p>3,000</p>
            </div>
        </div>
    </div>

    <div class="modaltitle">
        <button type="button" class="btn_review">원산지,영양성분,알레르기 유발성분
            <img src="/img/menu/ingredient/ingredient-detail.png" alt=""></button>
    </div>


    <div class="modal">
        <div class="modal2">
            <div class="main_container2">
                <div class=" text">
                    <p>원산지,영양성분,알레르기 유발성분</p>
                </div>
                    <img src="/img/menu/ingredient/icon-close.png" alt="추가버튼" id="close">
                <div class="text_container">
                    <p class="origin">원산지</p>
                    <div class="cow_img">
                        <img src="/img/menu/ingredient/icon-cow.png" alt="">
                    </div>
                    <div class="cow">
                        <p class="cow1">쇠고기</p>
                        <p>●버거 패티: 뉴질랜드산</p>
                    </div>

                    <div class="pig_img">
                        <img src="/img/menu/ingredient/icon-pig.png" alt="">
                    </div>
                    <div class="pig">
                        <p class="pig1">돼지고기</p>
                        <p>●베이컨:미국산</p>
                    </div>

                    <div class="chicken_img">
                        <img src="/img/menu/ingredient/icon-hen.png" alt="">
                    </div>
                    <div class="chicken">
                        <p class="chicken1">닭고기</p>
                        <p class="chicken2">●국내산</p>
                        <p class="chicken3">●브라질산</p>
                    </div>


                </div>
                <div class="nutrition">
                    <p>영양성분</p>

                    <table class="box">
                        <tr>
                            <th></th>
                            <th>중량
                                <br>
                                (g/ml)
                            </th>
                            <th>열량
                                <br>
                                (Kcal)
                            </th>
                            <th>단백질
                                <br>
                                (g)
                            </th>
                            <th>나트륨
                                <br>
                                (mg)
                            </th>
                            <th>당류
                                <br>
                                (g)
                            </th>
                            <th>포화지방
                                <br>
                                (g)
                            </th>
                            <th>카페인
                                <br>
                                (mg)
                            </th>
                        </tr>
                        <tr>
                            <td>제품명</td>
                            <td>1001</td>
                            <td>1333</td>
                            <td>39</td>
                            <td>1438</td>
                            <td>61.1</td>
                            <td>19</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>제품명</td>
                            <td>806</td>
                            <td>1176</td>
                            <td>38</td>
                            <td>1325</td>
                            <td>42.2</td>
                            <td>18</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>제품명</td>
                            <td>806</td>
                            <td>1176</td>
                            <td>38</td>
                            <td>1325</td>
                            <td>42.2</td>
                            <td>18</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>제품명</td>
                            <td>806</td>
                            <td>1176</td>
                            <td>38</td>
                            <td>1325</td>
                            <td>42.2</td>
                            <td>18</td>
                            <td>0</td>
                        </tr>

                    </table>
                </div>
                <div class="allergy">
                    <p>알레르기 유발 성분</p>
                <!-- <img src="/img/menu/ingredient/icon-plus.png" alt="추가버튼" id="plus"> -->
                </div>
                <div class="allergy2">
                    <tr>
                        <th></th>
                        <th>햄버거</th>
                        <th>밀,대두,토마토,쇠고기,난류</th>
                        <br>
                        <th>제품명</th>
                        <th>밀,대두,토마토,쇠고기,난류</th>


                    </tr>
                </div>

            </div>
        </div>
    </div>

    <footer>
        <div id="footer-container">
            <p>브랜드명
            <p>
            <p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
            <p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
            <p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
            <p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
        </div>
    </footer>


</body>

</html>