<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restaurant.mapper.OrderMapper">

	<resultMap type="orderMenuTab" id="orderMenuTab">
		<id column="menu_code" property="menuCode"/>
		<result column="menu_name" property="menuName"/>
		<result column="price" property="price"/>
		<result column="main_category_code" property="mainCategoryCode"/>
		<result column="middle_category_code" property="middleCategoryCode"/>
		<result column="basic_option_1" property="basicOption1"/>
		<result column="basic_option_2" property="basicOption2"/>
		<result column="order_count" property="orderCount"/>
		<result column="img_path" property="imgPath"/>
	</resultMap>

	<select id="searchCanReservOffice" parameterType="HashMap" resultType="HashMap">
		select distinct
		    remain_seats.branch_office_code, bo.office_name
		    from
		        (select
		            scv.branch_office_code,
		            scv.seat_count - NVL(rss.already_reserv_seat, 0) as can_reserv_seats
		            from
		                (select distinct
		                    count(distinct sm.seat_no) over(partition by sm.branch_office_code) as seat_count,
		                    sm.branch_office_code
		                    from seat_map sm) scv
		            left outer join
		                (select
		                    count(*) over(partition by rs.branch_office_code) as already_reserv_seat,
		                    rs.branch_office_code
		                    from reservation_seats rs
		                    where 
		                        rs.reserv_no like '%' || #{date} || '%' 
		                        and rs.reserv_time BETWEEN #{startTime} and #{endTime}) rss
		            on scv.branch_office_code = rss.branch_office_code
		            order by scv.branch_office_code
		        ) remain_seats,
		        branch_office bo
		    where
		        remain_seats.branch_office_code = bo.branch_office_code
		        and remain_seats.can_reserv_seats >= #{persons}
	</select>
	
	<select id="searchSeatMap" parameterType="HashMap" resultType="HashMap">
		select
		    sm.branch_office_code, sm.seat_no, sm.x_direction, sm.y_direction, NVL(rs.reserv_time, 0) as reserv_time
		    from
		        (select * from seat_map where branch_office_code = #{code}) sm
		    left outer join
		        (select * from reservation_seats 
		            where 
		                reserv_no like '%' || #{date} || '%'
		                and branch_office_code = #{code}
		                and reserv_time BETWEEN #{startTime} and #{endTime}) rs
		    on sm.seat_no = rs.reserv_seat_no
	</select>
	
	<select id="searchMenuHotTab" resultMap="orderMenuTab">
		select m.menu_code, m.menu_name, m.price, m.main_category_code,
		    NVL(m.basic_option_1, 0) as basic_option_1,
		    NVL(m.basic_option_2, 0) as basic_option_2,
		    NVL(hmv.order_count, 0) as order_count
		    from menu m, hot_menu_view hmv
		    where m.menu_code = hmv.menu_code
	</select>
	
	<select id="searchMenuOtherTab" parameterType="String" resultMap="orderMenuTab">
		select 
		    m.menu_code, m.menu_name, m.price, m.main_category_code, m.middle_category_code,
		    NVL(m.basic_option_1, 0) as basic_option_1,
		    NVL(m.basic_option_2, 0) as basic_option_2
		    from menu m
		    where main_category_code = #{mainCategoryCode}
	</select>
	
	<select id="searchImgPath" parameterType="int" resultType="string">
		select img_path from menu_img where menu_code = #{code}
	</select>
</mapper>
