@charset "UTF-8";
/*1대1 문의 목록 관리 CSS*/
* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px 30px;
}
#side-menu {
    width: 200px;
    border-collapse: collapse;
    position: fixed;
}
#side-menu > div {
    padding: 22px 10px;
    border: 1px solid black;
}
#side-menu ul {
    list-style-type: none;
    margin-left: 20px;
}
#side-menu li {
    margin-top: 10px;
    font-size: 15px;
}
#side-menu > div > p {
    font-size: 20px;
}
#side-menu a {
    color: black;
    text-decoration: none;
}
#logo > img {
    width: 100%;
}
#login-box {
    font-size: 20px;
    text-align: center;
}
#title-main-space {
    border: 1px solid black;
    width: 1560px;
    margin-left: 220px;
    padding: 40px 40px 30px 40px;
    border-width: 1px 1px 0px 1px;
    position: fixed;
    background-color: white;
}
#title {
    font-size: 30px;
    font-weight: bold;
}
#title-sub-space > hr {
    border: 1px solid black;
    margin-top: 7px;
}
#empty {
    width: 1640px;
    height: 120px;
    margin-left: 220px;
}
#content-space {
    border: 1px solid black;
    width: 1560px;
    min-height: 765px;
    margin-left: 220px;
    padding: 0px 40px 40px 40px;
    border-width: 0px 1px 1px 1px;
}
#list-selector > p{
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
}
#search-bar{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 100px;
}
#search-bar > input{
    width: 1200px;
    height: 100px;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}
#search-button{
    width: 150px;
    height: 100px;
    box-sizing: border-box;
    background-color: #d9d9d9;
}
#search-button > button{
    width: 150px;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
}
#all-select{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#all-select > input{
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-right: 20px;
}
#all-select > p {
    font-size: 20px;
    margin-top: 25px;
    margin-right: 120px;
    
}
#list-inventory{
    width: 1350px;
    height: 400px;
    margin-top: 35px;
    margin-left: 100px;
    border: 1px solid black;
    overflow: hidden;
    overflow-y: scroll;
}
table{
    width: 1350px;
    border-collapse: collapse;
}
tr td{
    font-size: 20px;
    padding: 15px;
    border-bottom: 1px solid black;
}
.list-no{
    font-weight: bold;
}

#remove-list-button{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#remove-list-button > #remove-button{
    width: 200px;
    height: 50px;
    background-color: #d9d9d9;
    margin-top: 30px;
    margin-right: 110px;
    text-align: center;
    padding-top: 25px;
    border: 1px solid black;
    border-radius: 10px;
}