<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ 관리 페이지</title>
    <link rel="stylesheet" href="/css/customer_manage/FAQ_setting.css">
    <script src="/lib/jquery-3.6.3.js"></script>
    <script src="/lib/jquery-ui.js"></script>
    <script src="/js/inqurey/inqurey.js"></script>
    <script type="text/javascript">
    	$(function () {
		$('#add_btn').click(function () {
			console.log()
		});    		
	})
    </script>
</head>
    <body>
    	<th:block th:include="/fragments/side_menu.html"></th:block>
    <div id="title-main-space">
        <div id="title-sub-space">
            <p id="title">FAQ 관리</p>
            <hr>
        </div>
    </div>
    <div id="empty"></div>
    <div id="content-space">
        <form action="" id="FAQ-add">
            <p>FAQ 추가하기</p>
                <div id="name-box">
                    <p>제목</p>
                    <input type="text" name="nameadd">
                </div>
            <div id="text-box">
                <p>내용</p>
                <input type="text" name="textadd">
            </div>
            <button type="button" id="add_btn">추가하기</button>
        </form>
        <hr>
        <form action id="FAQ-change">
            <p>FAQ 수정하기</p>
            <div id="change-select">
                <p>FAQ 선택</p>
                <input type="text" name="select">
                <button type="button">찾아보기</button>
            </div>
            <div id="change-name">
                <p>제목 변경</p>
                <input type="text" name="namechange">
            </div>
            <div id="change-text">
                <p>내용 변경</p>
                <input type="text" name="textchange">
            </div>
            <button type="button" id="update_btn">적용하기</button>
        </form>
        <hr>
        <form action="delete_btn" id="FAQ-remove">
            <p>FAQ 삭제하기</p>
            <div id="remove-box">
                <input type="text" name="remove">
                <button type="button">찾아보기</button>
            </div>
            <button type="button" id="remove_btn">삭제</button>
        </form>
    </div>
</body>
</html>