<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1대1 문의 글쓰기</title>
    <link rel="stylesheet" href="/css/inqurey/inqurey_write.css">
    <script src="/lib/jquery-3.6.3.js"></script>
    <script src="/js/inqurey/inqurey_writer.js"></script>
</head>
<body>
	<th:block th:include="/fragments/header.html"></th:block>
    <div class="main_container">
        <section>
            <article>
                <h2>1대1 문의 글쓰기</h2>
                <form action="/inqureywrite/add">
                    <p>문의 유형
                        <select id="request" name="">
                            <option value="1">예약 문의</option>
                            <option value="2">쿠폰 문의</option>
                            <option value="3">기타</option>
                        </select>
                    </p>
                    <p class="txt_name">제목
                        <input type="text" placeholder="내용 입력" class="name" name="inqureyTitle">
                    </p>
                    <div class="content_box">
                        <p class="txt_content">내용</p>
                        <textarea name="inqureyContent" id="content"></textarea>
                    </div>
                    <p>비밀번호
                        <input type="text" class="passwd" name="inqureyPW">
                        <input type="checkbox" class="chk" name="setPW"><span class="non">비공개</span>
                    </p>
                    <input type="hidden" class="id_write" name="inqureyWriter">
                    <button class="update_button">글작성</button>
                </form>
            </article>
        </section>
    </div>
    <footer>
        <div id="footer-container">
            <p>브랜드명<p>
            <p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
            <p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
            <p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
            <p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
        </div>
    </footer>
    
</body>
</html>