<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1대1 문의 게시글 내용</title>
    <!--1대1 문의 게시글 내용 html-->
    <!-- ajex backend 영역 -->
    <link rel="stylesheet" href="/css/inqurey/inqurey_table_content.css">
</head>
<body>
    <header>
        <div id="header-main-container">
            <div id="header-logo"><img src="../../source/img/logo.png" alt="logo"></div>
            <div id="header-sub-container">
                <div id="login"><a href="#">로그인</a></div>
                <nav id="header-nav-main">
                    <ul class="header-largeMenu">
                        <li><a href="#">메뉴소개</a></li>
                        <li><a href="#">오더</a></li>
                        <li><a href="#">매장소개</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                    <div id="header-nav-sub">
                        <ul class="header-smallMenu">
                            <li><a href="#">전체메뉴</a></li>
                            <li><a href="#">인기메뉴</a></li>
                            <li><a href="#">세트메뉴</a></li>
                            <li><a href="#">사이드 & 음료</a></li>
                        </ul>
                        <ul class="header-smallMenu">
                            <li><a href="#">오더</a></li>
                        </ul>
                        <ul class="header-smallMenu">
                            <li><a href="#">매장검색</a></li>
                        </ul>
                        <ul class="header-smallMenu">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">1:1 문의</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="main_container">
        <section>
            <article>
                <div class="content_header">
                    <div class="content_box1"><p>제목</p></div>
                    <div class="content_box2"><p>[[${inqurey.inqureyTitle}]]</p></div>
                    <div class="content_box3"><p>작성자 [[${inqurey.inqureyWriter}]]</p></div>
                    <div class="content_box4"><p>작성일자 [[${inqurey.inqureyDate}]]</p></div>
                </div>
                <div class="content_main">
                    <p>[[${inqurey.inqureyContent}]]</p>
                </div>
                <div class="content_footer">
                    <div class="content_footer_name"><p>[[${inqurey.answerName}]]</p></div>
                    <div class="content_footer_message">
                        <p>[[${inqurey.answerContent}]]</p>
                    </div>
                </div>

            </article>
        </section>
    </div>
    <footer>
        <div id="footer-container">
            <p>브랜드명<p>
            <p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
            <p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
            <p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
            <p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
        </div>
    </footer>
    
</body>
</html>