<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/css/main/login_page.css">
    <script src="/lib/jquery-3.6.3.js"></script>
    <script src="/js/main/login_page.js"></script>
</head>

<body>
	<th:block th:include="/fragments/header.html"></th:block>
    <section>
        <article>
            <div class="container1">
                <h2>일반 로그인</h2>
                <form action="/login" class="login1">
                    <p>ID</p>
                    <p><input type="text" name="id"></p>
                    <hr>
                    <p>PW</p>
                    <p><input type="password" name="passwd"></p>
                    <hr>
                    <div class="checkbox1">
                        <input type="checkbox" id="check_btn" name="checkId">
                        <label for="check_btn"><span>아이디 저장</span></label>
                    </div>
                    <div class="checkbox2">
                        <input type="checkbox" id="check_btn2">
                        <label for="check_btn2"><span>자동 로그인</span></label>
                    </div>
                    <div class="button1">
                        <button>로그인</button>
                        <a href="/signup1">회원가입</a>
                    </div>
                </form>
            </div>
            <div class="container2">
                <h2>간편 로그인</h2>
                <div class="button2">
                    <button class="naver_btn"><img src="/img/login/naver_login.png" alt=""></button>
                    <br>
                    <button class="kakao_btn"><img src="/img/login/kakao_login_medium_narrow.png" alt=""></button>
                </div>
            </div>
        </article>

    </section>
    <footer>
        <div id="footer-container">
            <p>브랜드명<p>
            <p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
            <p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
            <p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
            <p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
        </div>
    </footer>
   
</body>

</html>