@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/* header */
header {
    width: 100%;
    background-color: #F67A3E;
    position: fixed;
    /* z-index: 100; */
}
#header-main-container {
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}
#header-logo {
    width: 140px;
    height: 120px;
    text-align: center;
}
#header-sub-container {
    width: 1060px;
    display: flex;
    flex-flow: column nowrap;
}
#login {
    width: 1060px;
    height: 60px;
    text-align: end;
}
#header-logo > img {
    padding-top: 29.71px;
    width: 100px;
}
#header-nav-main {
    width: 1060px;
    height: 60px;
    overflow: hidden;
}
#header-nav-main:hover {
    height: 260px;
}
ul.header-largeMenu {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
ul.header-largeMenu a {
    font-weight: bold;
    line-height: 30px;
    font-size: 30px;
    padding: 15px 0;
}
#header-nav-sub {
    display: flex;
    flex-flow: row nowrap;
}
ul.header-smallMenu {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
}
ul.header-smallMenu a {
    line-height: 25px;
    font-size: 25px;
    width: 265px;
    padding: 12.5px 0;
}
#header-nav-main a:not(#login) {
    color: black;
    text-align: center;
    display: inline-block;
    width: 265px;
    text-decoration: none;
}
/*section*/
section {

    width: 100%;
    height: 100%;
    padding: 120px 0px;
    box-sizing: border-box;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: #F67A3E;
    margin: 60px 300px;
}

.payInfo_update_box1_div {
    width: 1200px;
    height: 30px;
    margin: 0 auto;
    padding-bottom: 30px;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: #F67A3E;
}

a {
    text-align: center;
    width: 400px;
    height: 30px;
    text-decoration: none;
}

.a_tag {
    width: 400px;
    height: 30px;
    float: left;
}

.order {
    border: 5px solid #F67A3E;
    margin: 0 auto;
    width: 1200px;
    height: 450px;
    box-sizing: border-box;
}

.order_sub_title {
    font-size: 25px;
    font-weight: bold;
    color: #F67A3E;
    padding: 45px 100px;
}

.order_detail {
    margin: 0 auto;
    width: 885px;
    height: 200px;
    border-radius: 5px;
    background-color: #F67A3E;
    color: white;
    font-size: 25px;
}

.date_number {
    float: left;
    padding: 70px;
}

.situation {
    float: right;
    padding: 70px;
}

.situation p {
    border: 2px solid white;
    padding: 10px;

}

.button {
    margin: 0 auto;
    width: 885px;
    padding: 40px 0px;
}

.button button {
    width: 160px;
    height: 35px;
    color: white;
    background-color: #F67A3E;
    float: right;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

/* footer */
footer {
    width: 100%;
    background-color: #F67A3E;
}
#footer-container {
    width: 1200px;
    padding: 40px 0px;
    margin: 0px auto;
}
#footer-container > p:first-child {
    font-weight: bold;
    font-size: 20px;
}
#footer-container > p:not(:first-child) {
    font-size: 15px;
    margin: 5px 0px 0px 20px;
}

/* 팝업 */

.modal1{
    width: 450px;
    height: 100%;
    border: 1px solid black;
}
.modal_content{
    width: 450px;
    background: white;
    margin: 0 auto;
    padding: 20px;
}

.content_space{
    margin: 0 auto;
    width: 400px;
    height: 200px;
    border: 5px solid #F67A3E;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

.content_space > p{
    font-size: 25px;
    padding-top: 80px;
    color: #F67A3E;
    font-weight: bold;
}

.modal1 .button{
    margin: 0 auto;
    width: 150px;
    height: 50px;
    padding-top:  40px;
}
.modal1 button{
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: #F67A3E;
    border: none;
    border-radius: 5px;
}

.modal1{ 
    position:absolute; 
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,0.5); 
    top:0; 
    left:0; 
    padding-top: 200px;

    /* display: none; */
    /* z-index: 1000px; */

  }