<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체메뉴</title>
    <link rel="stylesheet" href="/css/menu/full_menu.css">
</head>


<body>
    <th:block th:include="/fragments/header.html"></th:block>
    <div class="menu_container">
        <ul>
            <li><a href="/menu/all">전체메뉴</a></li>
            <li><a href="/menu/popularmenu">인기메뉴</a></li>
            <li><a href="/menu/setmenu">세트메뉴</a></li>
            <li><a href="/menu/side">사이드</a></li>
            <li><a href="/menu/beverage">음료</a></li>
        </ul>
    </div>
    <div class="main-container">
        <div class="container">
            <div class="menu-box">
                <a href="/menu/detailedmenu">
                    <img src="/img/menu/menu/beef-bulgogi-burger.png">
                    <p>상품명</p>
                    <p>7,000</p>
                </a>
            </div>
            <div class="menu-box">
                <a href="/menu/detailedmenu">
                    <img src="/img/menu/menu/bbq-king-chicken-burger.png">
                    <p>상품명</p>
                    <p>7,000</p>
                </a>
            </div>
            <div class="menu-box">
                <a href="/menu/detailedmenu">
                    <img src="/img/menu/menu/bulgogi-whopper.png">
                    <p>상품명</p>
                    <p>7,000</p>
                </a>
            </div>
            <div class="menu-box">
                <a href="/menu/detailedmenu">
                    <img src="/img/menu/menu/cheeseburger.png">
                    <p>상품명</p>
                    <p>7,000</p>
                </a>
            </div>
            <div class="menu-box">
                <a href="/menu/detailedmenu">
                    <img src="/img/menu/menu/cheese-whopper.png">
                    <p>상품명</p>
                    <p>7,000</p>
                </a>
            </div>
            <div class="menu-box">
                <a href="/menu/detailedmenu">
                    <img src="/img/menu/menu/garlic-bulgogi-whopper.png">
                    <p>상품명</p>
                    <p>7,000</p>
                </a>
            </div>
            <div class="menu-box">
                <a href="/menu/detailedmenu">
                    <img src="/img/menu/menu/quattro-cheese-whopper.png">
                    <p>상품명</p>
                    <p>7,000</p>
                </a>
            </div>
            <div class="menu-box">
                <a href="/menu/detailedmenu">
                    <img src="/img/menu/menu/whopper.png">
                    <p>상품명</p>
                    <p>7,000</p>
                </a>
            </div>
        </div>
    </div>
       
            <footer>
                <div id="footer-container">
                    <p>브랜드명<p>
                    <p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
                    <p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
                    <p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
                    <p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
                </div>
            </footer>        
        
</body> 
</html>

    
       

