*{
    padding: 0;
    margin: 0;
}

/* header */
header {
    width: 100%;
    background-color: #F67A3E;
    position: fixed;
    /* z-index: 100; */
}
#header-main-container {
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}
#header-logo {
    width: 140px;
    height: 120px;
    text-align: center;
}
#header-sub-container {
    width: 1060px;
    display: flex;
    flex-flow: column nowrap;
}
#login {
    width: 1060px;
    height: 60px;
    text-align: end;
}
#header-logo > img {
    padding-top: 29.71px;
    width: 100px;
}
#header-nav-main {
    width: 1060px;
    height: 60px;
    overflow: hidden;
}
#header-nav-main:hover {
    height: 260px;
}
ul.header-largeMenu {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
ul.header-largeMenu a {
    font-weight: bold;
    line-height: 30px;
    font-size: 30px;
    padding: 15px 0;
}
#header-nav-sub {
    display: flex;
    flex-flow: row nowrap;
}
ul.header-smallMenu {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
}
ul.header-smallMenu a {
    line-height: 25px;
    font-size: 25px;
    width: 265px;
    padding: 12.5px 0;
}
#header-nav-main a:not(#login) {
    color: black;
    text-align: center;
    display: inline-block;
    width: 265px;
    text-decoration: none;
}
/* section */
section{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    padding: 150px 0px;
    box-sizing: border-box;

}
.container{
    /* border: 1px solid black; */
    width: 1200px;
    height: fit-content;
    margin: 0px auto;
}
.container_detail{
    /* border: 1px solid black; */
    text-align: left;
}

.icon>img{
    /* margin-left: 500px; */
    width: 30px;
    height: 20px;
}
.product_review{
    margin-left: 0px;
    color: #F67A3E;
    font-size: 25px;
}

.product{
    /* display: flex; */
    /* flex-direction: column; */
    margin: 20px 0px 100px 20px;
    
    

}

.product img{
    /* margin-left: 500px; */
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 50px;
}
.product p{
    margin-bottom: 10px;
    /* margin-left: 600px; */
    color: #F67A3E;
   
    
}
.text_box{
    /* border: 1px solid black; */
    width: 1200px;
    height: fit-content;
    margin: 0 auto;
}
.text_box > P{
    width: 100px;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 25px;
    color: #F67A3E;
    float: left;
   
}

.text_box2{
    width: 1000px;
    height: 280px;
    border: 1px solid #F67A3E;
    margin-left: 150px;
    margin-top: 30px;
}  
.text_box2 > img{
    width: 100px;
    height:100px;
}
.text_box2 > p{
    font-size: 15px;
}
.photo{
    /* border: 1px solid black; */
    padding-top: 30px;
    width: 1200px;
    height: 100%;
    margin: 0px auto;
}
.Attach_pictures{
    font-size: 25px;
    color: #F67A3E;
    float: left;
    margin-left: 10px;
}

.pictures{
    border: 1px solid #F67A3E;
    font-size: 20px;
    color: #F67A3E;
    width: 150px;
    height: 20px;
    text-align: center;
    padding: 20px 0px;
    margin-left: 60px;
    float: left;
}
.picture_ea{
    color: #F67A3E;
    /* border: 1px solid black; */
    width: fit-content;
    height: fit-content;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
    opacity: 0.5;
}
.picture_detail{
    color: #F67A3E;
    /* border: 1px solid black; */
    width: fit-content;
    height: fit-content;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
    opacity: 0.5;
}
.picture_name{
    float: none;
    /* border: 1px solid black; */
    width: fit-content;
    margin-left: 160px;
    margin-top: 70px;
    color: #F67A3E;
    opacity: 0.5;
}
.button{
    /* border: 1px solid black; */
    width: fit-content;
    margin: 0px auto;
}

.button button{
    width: 200px;
    height: 70px;
    margin: 0px auto;
    font-size: 20px;
    color: white;
    background-color: #F67A3E;
    border: none;
    border-radius: 10px;
    margin: 50px 100px 0px 100px;
}

hr{
   margin-top: 40px;
   border: 1px solid #F67A3E;
   opacity: 0.2;
   margin: 10px;
}

/* footer */
footer {
    width: 100%;
    background-color: #F67A3E;
}
#footer-container {
    width: 1200px;
    padding: 40px 0px;
    margin: 0px auto;
}
#footer-container > p:first-child {
    font-weight: bold;
    font-size: 20px;
}
#footer-container > p:not(:first-child) {
    font-size: 15px;
    margin: 5px 0px 0px 20px;
}


/* popup */

.modal1 .modal_content{
    width: 355px;
    height: 160px;
    background: white;
    padding: 10px 0px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #F67A3E;
 
}

.modal1 .content_space{
    margin: 20px auto;
    margin-top: 4px;
    width: 320px;
    height: 150px;
    border: 1px solid #F67A3E;
    border-radius: 10px;
    background-color: white;
    
}

.modal1 .content_space > p{
    font-size: 20px;
    padding-top: 55px;
    color: #F67A3E;
    font-weight: bold;
    margin-left: 18px;
    
}

.modal1 .modal_button{
    margin: 0 auto;
    width: fit-content;
    height: 50px;
    padding: 10px 0px;
    margin-top: -70px;
}
.modal1 .modal_button button{
    width: 95px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: #F67A3E;
    border: none;
    border-radius: 5px;
    margin: 0px 30px;
    margin-top: -16px;
}

.modal1{ 
    position:absolute;
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,0.8); 
    top:0; 
    left:0; 
    padding-top: 200px;
    padding-bottom: 240px;
    display:none;
  }

.modal2 .modal_content{
    width: 355px;
    height: 160px;
    background: white;
    padding: 10px 0px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #F67A3E;
}

.modal2 .content_space{
    margin: 20px auto;
    margin-top: 4px;
    width: 320px;
    height: 150px;
    border: 1px solid #F67A3E;
    border-radius: 10px;
    background-color: white;
}

.modal2 .content_space > p{
    font-size: 20px;
    padding-top: 55px;
    color: #F67A3E;
    font-weight: bold;
    margin-left: 30px;
}

.modal2 .modal_button{
    margin: 0 auto;
    width: fit-content;
    height: 50px;
    padding: 10px 0px;
    margin-top: -70px;
    
}
.modal2 .modal_button button{
    width: 95px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: #F67A3E;
    border: none;
    border-radius: 5px;
    margin: 0px 30px;
    margin-top: -16px;
}

.modal2{ 
    position:absolute;
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,0.8); 
    top:0; 
    left:0; 
    padding-top: 200px;
    padding-bottom: 240px;
    display:none;
  }
  
  






  .modal3 .modal_content{
    width: 355px;
    height: 160px;
    background: white;
    padding: 10px 0px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #F67A3E;
 
}

.modal3 .content_space{
    margin: 20px auto;
    margin-top: 4px;
    width: 320px;
    height: 150px;
    border: 1px solid #F67A3E;
    border-radius: 10px;
    background-color: white;
    
}

.modal3 .content_space > p{
    font-size: 20px;
    padding-top: 55px;
    color: #F67A3E;
    font-weight: bold;
    margin-left: 40px;
    
}

.modal3 .modal_button{
    margin: 0 auto;
    width: fit-content;
    height: 50px;
    padding: 10px 0px;
    margin-top: -70px;
}
.modal3 .modal_button button{
    width: 95px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: #F67A3E;
    border: none;
    border-radius: 5px;
    margin: 0px 30px;
    margin-top: -16px;
}

.modal3{ 
    position:absolute;
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,0.8); 
    top:0; 
    left:0; 
    padding-top: 200px;
    padding-bottom: 240px;
    display:none;
  }
