<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>마이페이지</title>
<link rel="stylesheet" href="/css/my_page/myPage_1.css">
<script src="/lib/jquery-3.6.3.js"></script>
<script src="/lib/jquery-ui.js"></script>
<script src="/js/my_page/myPage_1.js"></script>
</head>

<body>
	<th:block th:include="/fragments/header.html"></th:block>
	<section>
		<h2>MY PAGE</h2>
		<article class="mypage_1_box1">
			<div class="mypage_1_box1_div">
				<div class="a_tag">
					<a href="/myPageChangeInfo1">
						<h3>정보변경</h3>
					</a>
				</div>
				<div class="a_tag">
					<a href="/myPagePayInfo">
						<h3>결제정보</h3>
					</a>
				</div>
				<div class="a_tag">
					<a href="/myPageReservation">
						<h3>나의 예약</h3>
					</a>
				</div>
			</div>
		</article>
		<article class="mypage_1_box2">
			<div class="tab_container" id="tabs">
				<ul class="tabs">
					<li class="current"><a href="#tab_1">멤버십</a></li>
					<li><a href="#tab_1">나의 쿠폰</a></li>
					<li><a href="#tab_1">주문 이력</a></li>
				</ul>
				<div class="tab_content_container">
					<div id="tab_1" class="current">
						<div class="membershipInfo">
							<p>[[${MEMBERSHIP_GRADE?.GRADE_NAME}]]</p>
						</div>
					</div>
					<div id="tab_2" class="tab_content">
						<div class="coupon">
							<p>쿠폰 번호</p>
							[[${COUPONINFO?.COUPON_NUMBER }]]
							<p>쿠폰 이름</p>
							[[${COUPONINFO?.COUPON_NAME }]]
							<p>쿠폰 날짜</p>
							[[${COUPONINFO?.COUPON_DEADLINE }]]
							<p>원가</p>
							[[${COUPONINFO?.PRODUCT_COST }]]
							<p>할인가</p>
							[[${COUPONINFO?.DISCOUNT_PRICE }]]
						</div>

					</div>
					<div id="tab_3" class="tab_content">
						<div class="orderInfo">
							<div class="order_div">
								<div class="order_div1">포장</div>
								<div class="order_div2">
									2023년 1월 1일 11시 30분<br> 세트 1
								</div>
								<div class="order_div3">20000원</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</article>
	</section>


	<footer>
		<div id="footer-container">
			<p>브랜드명
			<p>
			<p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
			<p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
			<p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
			<p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
		</div>
	</footer>
</body>

</html>