<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>나의 예약</title>
<link rel="stylesheet"
	href="/css/my_page/myPage_ reservation_no.css">
</head>

<body>
	<th:block th:include="/fragments/header.html"></th:block>
	<section>
		<h2>MY PAGE</h2>
		<article class="payInfo_update_box1">
			<div class="payInfo_update_box1_div">
				<div class="a_tag">
					<a href="/myPageChangeInfo1">
						<h3>정보변경</h3>
					</a>
				</div>
				<div class="a_tag">
					<a href="/myPagePayInfo">
						<h3>결제정보</h3>
					</a>
				</div>
				<div class="a_tag">
					<a href="/myPageReservation">
						<h3>나의 예약</h3>
					</a>
				</div>
			</div>
		</article>
		<article class="order">
			<div class="order_sub_title">
				<p>현 주문 상황</p>
			</div>
			<div class="order_detail">
				<p>주문이 없습니다.</p>
			</div>
			<div class="button">
				<button>주문하러 가기</button>
			</div>
		</article>
	</section>
	<footer>
		<div id="footer-container">
			<p>브랜드명
			<p>
			<p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
			<p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
			<p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
			<p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
		</div>
	</footer>
</body>

</html>