<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제정보 등록</title>
    <link rel="stylesheet" href="../../CSS/my_page/myPage_payInfo_update.css">
    <script src="../../lib/jquery-3.6.3.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="../../JS/my_page/myPage_payInfo_update.js"></script>
</head>

<body>
    <header>
        <div id="header-main-container">
            <div id="header-logo"><img src="../../source/img/logo.png" alt="logo"></div>
            <div id="header-sub-container">
                <div id="login"><a href="#">로그인</a></div>
                <nav id="header-nav-main">
                    <ul class="header-largeMenu">
                        <li><a href="#">메뉴소개</a></li>
                        <li><a href="#">오더</a></li>
                        <li><a href="#">매장소개</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                    <div id="header-nav-sub">
                        <ul class="header-smallMenu">
                            <li><a href="#">전체메뉴</a></li>
                            <li><a href="#">인기메뉴</a></li>
                            <li><a href="#">세트메뉴</a></li>
                            <li><a href="#">사이드 & 음료</a></li>
                        </ul>
                        <ul class="header-smallMenu">
                            <li><a href="#">오더</a></li>
                        </ul>
                        <ul class="header-smallMenu">
                            <li><a href="#">매장검색</a></li>
                        </ul>
                        <ul class="header-smallMenu">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">1:1 문의</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <h2>MY PAGE</h2>
        <article class="payInfo_update_box1">
            <div class="payInfo_update_box1_div">
                <div class="a_tag">
                    <a href="/myPageChangeInfo1">
                        <h3>정보변경</h3>
                    </a>
                </div>
                <div class="a_tag">
                    <a href="/myPagePayInfo">
                        <h3>결제정보</h3>
                    </a>
                </div>
                <div class="a_tag">
                    <a href="/myPageReservation">
                        <h3>나의 예약</h3>
                    </a>
                </div>
            </div>
        </article>
        <form action="">
            <article class="newCard_update">
                <div class="sub_title">
                    <p>새로운 결제 수단 등록</p>
                </div>
                <table>
                    <tr>
                        <td>카드 이름</td>
                        <td><input type="text" placeholder="카드 별명"  maxlength='10'>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>카드 번호</td>
                        <td><input type="text" class="form-control" name="card_number" id="card_number"
                            placeholder="숫자만 입력해주세요." maxlength="19">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>유효기간</td>
                        <td><input type="text" name="card_date"
                            placeholder="MMYY" id="card_date" maxlength='5'>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>CVC</td>
                        <td><input type="password" placeholder="카드 뒷면 숫자" maxlength='3'>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>카드 비밀번호</td>
                        <td><input type="password" placeholder="비밀번호 앞 2자리" maxlength='2'>
                            <hr>
                        </td>
                    </tr>
                </table>
            </article>
            <article class="ToS">
                <div class="sub_title">
                    <p>약관동의</p>
                </div>
                <div class="allToS">


                    <p><input type="radio" id="ToS1">약관동의 1 &nbsp;&nbsp;&nbsp; ▼</p>

                    <div class="ToS_content" id="ToS_content_1">
                        <p>국가는 건전한 소비행위를 계도하고 생산품의 품질향상을 촉구하기 위한 소비자보호운동을 법률이 정하는 바에 의하여 보장한다. 언론·출판에 대한 허가나 검열과 집회·결사에
                            대한
                            허가는 인정되지 아니한다. 대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 모든 국민은 헌법과 법률이 정한 법관에 의하여 법률에 의한 재판을 받을 권리를
                            가진다.
                            탄핵소추의 의결을 받은 자는 탄핵심판이 있을 때까지 그 권한행사가 정지된다. 이 헌법시행 당시에 이 헌법에 의하여 새로 설치될 기관의 권한에 속하는 직무를 행하고
                            있는
                            기관은 이 헌법에 의하여 새로운 기관이 설치될 때까지 존속하며 그 직무를 행한다.</p>
                        <p>국가는 건전한 소비행위를 계도하고 생산품의 품질향상을 촉구하기 위한 소비자보호운동을 법률이 정하는 바에 의하여 보장한다. 언론·출판에 대한 허가나 검열과 집회·결사에
                            대한
                            허가는 인정되지 아니한다. 대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 모든 국민은 헌법과 법률이 정한 법관에 의하여 법률에 의한 재판을 받을 권리를
                            가진다.
                            탄핵소추의 의결을 받은 자는 탄핵심판이 있을 때까지 그 권한행사가 정지된다. 이 헌법시행 당시에 이 헌법에 의하여 새로 설치될 기관의 권한에 속하는 직무를 행하고
                            있는
                            기관은 이 헌법에 의하여 새로운 기관이 설치될 때까지 존속하며 그 직무를 행한다.</p>
                    </div>


                    <p><input type="radio" id="ToS2">약관동의 2 &nbsp;&nbsp;&nbsp; ▼</p>

                    <div class="ToS_content" id="ToS_content_2">
                        <p>국가는 건전한 소비행위를 계도하고 생산품의 품질향상을 촉구하기 위한 소비자보호운동을 법률이 정하는 바에 의하여 보장한다. 언론·출판에 대한 허가나 검열과 집회·결사에
                            대한
                            허가는 인정되지 아니한다. 대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 모든 국민은 헌법과 법률이 정한 법관에 의하여 법률에 의한 재판을 받을 권리를
                            가진다.
                            탄핵소추의 의결을 받은 자는 탄핵심판이 있을 때까지 그 권한행사가 정지된다. 이 헌법시행 당시에 이 헌법에 의하여 새로 설치될 기관의 권한에 속하는 직무를 행하고
                            있는
                            기관은 이 헌법에 의하여 새로운 기관이 설치될 때까지 존속하며 그 직무를 행한다.</p>
                        <p>국가는 건전한 소비행위를 계도하고 생산품의 품질향상을 촉구하기 위한 소비자보호운동을 법률이 정하는 바에 의하여 보장한다. 언론·출판에 대한 허가나 검열과 집회·결사에
                            대한
                            허가는 인정되지 아니한다. 대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 모든 국민은 헌법과 법률이 정한 법관에 의하여 법률에 의한 재판을 받을 권리를
                            가진다.
                            탄핵소추의 의결을 받은 자는 탄핵심판이 있을 때까지 그 권한행사가 정지된다. 이 헌법시행 당시에 이 헌법에 의하여 새로 설치될 기관의 권한에 속하는 직무를 행하고
                            있는
                            기관은 이 헌법에 의하여 새로운 기관이 설치될 때까지 존속하며 그 직무를 행한다.</p>
                    </div>

                    <p><input type="radio" id="ToS3">약관동의 3 &nbsp;&nbsp;&nbsp; ▼</p>


                    <div class="ToS_content" id="ToS_content_3">
                        <p>국가는 건전한 소비행위를 계도하고 생산품의 품질향상을 촉구하기 위한 소비자보호운동을 법률이 정하는 바에 의하여 보장한다. 언론·출판에 대한 허가나 검열과 집회·결사에
                            대한
                            허가는 인정되지 아니한다. 대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 모든 국민은 헌법과 법률이 정한 법관에 의하여 법률에 의한 재판을 받을 권리를
                            가진다.
                            탄핵소추의 의결을 받은 자는 탄핵심판이 있을 때까지 그 권한행사가 정지된다. 이 헌법시행 당시에 이 헌법에 의하여 새로 설치될 기관의 권한에 속하는 직무를 행하고
                            있는
                            기관은 이 헌법에 의하여 새로운 기관이 설치될 때까지 존속하며 그 직무를 행한다.</p>
                        <p>국가는 건전한 소비행위를 계도하고 생산품의 품질향상을 촉구하기 위한 소비자보호운동을 법률이 정하는 바에 의하여 보장한다. 언론·출판에 대한 허가나 검열과 집회·결사에
                            대한
                            허가는 인정되지 아니한다. 대통령은 조국의 평화적 통일을 위한 성실한 의무를 진다. 모든 국민은 헌법과 법률이 정한 법관에 의하여 법률에 의한 재판을 받을 권리를
                            가진다.
                            탄핵소추의 의결을 받은 자는 탄핵심판이 있을 때까지 그 권한행사가 정지된다. 이 헌법시행 당시에 이 헌법에 의하여 새로 설치될 기관의 권한에 속하는 직무를 행하고
                            있는
                            기관은 이 헌법에 의하여 새로운 기관이 설치될 때까지 존속하며 그 직무를 행한다.</p>
                    </div>
                </div>
                <div class="chk_box">
                    <input type="checkbox" id="chk"><label for="chk"> 모든 약관에 동의합니다.</label>
                </div>
            </article>
            <div class="modal1">
        <div class="modal_content">
            <div class="title">
                <h1>이용약관</h1>
            </div>
            <div class="content_space">
                <p>변경완료</p>
            </div>
            <div class="button">
                <button class="modal1_button">확인</button>
            </div>
        </div>
    </div>
            <div class="button">
                <button>취소</button>
                <button>확인</button>
            </div>
        </form>
    </section>
    <div class="modal1">
        <div class="modal_content">
            <div class="title">
                <h1>이용약관</h1>
            </div>
            <div class="content_space">
                <p>변경완료</p>
            </div>
            <div class="button">
                <button class="modal1_button">확인</button>
            </div>
        </div>
    </div>
    <footer>
        <div id="footer-container">
            <p>브랜드명
            <p>
            <p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
            <p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
            <p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
            <p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
        </div>
    </footer>
</body>

</html>