<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restaurant.mapper.FAQMapper">
	<resultMap type="FAQ" id="FAQ">
		<id column="FAQ_NO" property="FAQno"/> 
		<result column="FAQ_TITLE" property="FAQTitle"/>
		<result column="FAQ_CONTENT" property="FAQContent"/>
	</resultMap>
	
	<select id="viewFAQList" parameterType="hashMap" resultType="hashMap">
		select * from
			(select rownum as no, list.faq_title, list.faq_content
			    from (select * from FAQ 
			            where faq_title like '%' || #{search} || '%'
			            order by faq_no asc) list) faq
		where ceil(faq.no / 5) = #{pageNo}
	</select>
	
	<select id="selectFaqCount" resultType="int">
		select count(*) from FAQ
	</select>
</mapper>
