* {
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  background-color: #F67A3E;
  position: fixed;
  z-index: 100;
}
#header-main-container {
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}
#header-logo {
    width: 140px;
    height: 120px;
    text-align: center;
}
#header-sub-container {
    width: 1060px;
    display: flex;
    flex-flow: column nowrap;
}
#login {
    width: 1060px;
    height: 60px;
    text-align: end;
}
#header-logo > img {
    padding-top: 29.71px;
    width: 100px;
}
#header-nav-main {
    width: 1060px;
    height: 60px;
    overflow: hidden;
}
#header-nav-main:hover {
    height: 260px;
}
ul.header-largeMenu {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
ul.header-largeMenu a {
    font-weight: bold;
    line-height: 30px;
    font-size: 30px;
    padding: 15px 0;
}
#header-nav-sub {
    display: flex;
    flex-flow: row nowrap;
}
ul.header-smallMenu {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
}
ul.header-smallMenu a {
    line-height: 25px;
    font-size: 25px;
    width: 265px;
    padding: 12.5px 0;
}
#header-nav-main a:not(#login) {
    color: black;
    text-align: center;
    display: inline-block;
    width: 265px;
    text-decoration: none;
}
 
  
.menu_container{
  padding-top: 120px;
}
.menu_container > ul{
  width: 800px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 50px auto;
}
.menu_container li{
  background-color:#F67A3E;
}
.menu_container > ul> li > a {
  color: white;
  text-decoration: none;
  
}
.container{
  width: 1200px;
  display: flex;
  flex-flow: row wrap;  
}
.menu-box:not(:nth-child(4n)) {
  margin-right: 133px;
}
.menu-box{
  margin-bottom: 30px;
}

.menu-box img{
  width: 200px;
  height: 200px;
}

.menu-box  p {
  text-align: center;
  color: #F67A3E;
}
.menu-box > a {
  color: black;
  text-decoration: none;
}
.main-container {
  width: 1199px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  
}
footer {
  width: 100%;
  background-color: #F67A3E;
}
#footer-container {
  width: 1200px;
  padding: 40px 0px;
  margin: 0px auto;
  }
#footer-container > p:first-child {
  font-weight: bold;
  font-size: 20px;
}
#footer-container > p:not(:first-child) {
  font-size: 15px;
  margin: 5px 0px 0px 20px;
}
  
  