<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰작성</title>
    <link rel="stylesheet" href="/css/review/review_write.css">
    <script src="/lib/jquery-3.6.3.js"></script>
    <script src="/js/review/review_write.js"></script>
</head>

<body>
    <header>
        <div id="header-main-container">
            <div id="header-logo"><img src="../../source/img/logo.png" alt="logo"></div>
            <div id="header-sub-container">
                <div id="login"><a href="#">로그인</a></div>
                <nav id="header-nav-main">
                    <ul class="header-largeMenu">
                        <li><a href="#">메뉴소개</a></li>
                        <li><a href="#">오더</a></li>
                        <li><a href="#">매장소개</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                    <div id="header-nav-sub">
                        <ul class="header-smallMenu">
                            <li><a href="/menu/all">전체메뉴</a></li>
                            <li><a href="/menu/popularmenu">인기메뉴</a></li>
                            <li><a href="/menu/setmenu">세트메뉴</a></li>
                            <li><a href="/menu/side">사이드 & 음료</a></li>
                        </ul>
                        <ul class="header-smallMenu">
                            <li><a href="#">오더</a></li>
                        </ul>
                        <ul class="header-smallMenu">
                            <li><a href="#">매장검색</a></li>
                        </ul>
                        <ul class="header-smallMenu">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">1:1 문의</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="container_detail">
                <div class="icon">
                    <img src="../../source/img/product quality.png" alt="">
                </div>
                <div class="product_review">
                    <p>상품 품질 리뷰</p>
                    <p class="review2">이 상품의 품질에 대해서 얼마나 만족하시나요?</p>
                    <hr>
                </div>




                <div class="product">

                    <img src="../../source/img/Bulgogi Burger.png" alt="">

                    <p>상품명</p>
                    <p>☆☆☆☆☆(필수)*</p>

                </div>
            </div>
        </div>
        <div class="text_box">
            <hr>
            <p>리뷰작성</p>
            <div class="text_box2">
                <img src="../../source/../source/img/Bulgogi Burger.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget n
                    ullam non. Quis hendrerit dolor magna eget est lorem ipsum dolor sit</p>
            </div>
        </div>
        <div class="photo">
            <hr>
            <div class="Attach_pictures">
                <p>사진첨부</p>
            </div>
            <div class="pictures">사진 첨부하기</div>
            <div class="picture_ea">
                <p>1/10</p>
            </div>
            <div class="picture_detail">
                <p>사진은 최대 20MB 이하의,JPG,PNG,GIP 파일 10장까지 첨부 가능합니다.</p>
            </div>
            <div class="picture_name">
                <p>햄버거.jpg</p>
            </div>
        </div>
        <div class="button">
            <button class="no_btn">취소</button>
            <button class="yes_btn">작성</button>
        </div>

    </section>
    <footer>
        <div id="footer-container">
            <p>브랜드명
            <p>
            <p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
            <p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
            <p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
            <p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
        </div>
    </footer>

    <!-- madal -->

    <div class="modal1">
        <div class="modal_content">
            
            <div class="content_space">
                <p>게시물 작성을 취소 하시겠습니까?</p>
            </div>
            <div class="modal_button">
               <a href="/review/reviewmain"><button>확인</button></a>
                <button>취소</button>

            </div>
        </div>
    </div>

    <div class="modal2">
        <div class="modal_content">
            
            <div class="content_space">
                <p>게시물을 업로드 하시겠습니까?</p>
            </div>
            <div class="modal_button">
                <button>확인</button>
                <button>취소</button>
            </div>
        </div>
    </div>






</body>

</html>