@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
header {
    width: 100%;
    background-color: #F67A3E;
    position: fixed;
    z-index: 100;
}
#header-main-container {
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}
#header-logo {
    width: 140px;
    height: 120px;
    text-align: center;
}
#header-sub-container {
    width: 1060px;
    display: flex;
    flex-flow: column nowrap;
}
#login {
    width: 1060px;
    height: 60px;
    text-align: end;
}
#header-logo > img {
    padding-top: 29.71px;
    width: 100px;
}
#header-nav-main {
    width: 1060px;
    height: 60px;
    overflow: hidden;
}
#header-nav-main:hover {
    height: 260px;
}
ul.header-largeMenu {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
ul.header-largeMenu a {
    font-weight: bold;
    line-height: 30px;
    font-size: 30px;
    padding: 15px 0;
}
#header-nav-sub {
    display: flex;
    flex-flow: row nowrap;
}
ul.header-smallMenu {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
}
ul.header-smallMenu a {
    line-height: 25px;
    font-size: 25px;
    width: 265px;
    padding: 12.5px 0;
}
#header-nav-main a:not(#login) {
    color: black;
    text-align: center;
    display: inline-block;
    width: 265px;
    text-decoration: none;
}
section {
    padding-top: 160px;
    width: 1100px;
    margin: 0 auto;
    min-height: 570px;
}
section > p {
    display: inline-block;
    width: 1100px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
}
section > hr {
    border: 1.5px solid black;
}
.order-accordion {
    margin-top: 20px;
}
.order-accordion > p {
    font-size: 20px;
    background-color: #E9E9E9;
}
#input-radio {
    margin: 20px 0px 0px 40px;
    width: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.order-accordion > div > p {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 10px;
    margin: 20px 0px 0px 40px;
}
.attach {
    width: 1020px;
    border: 1px solid black;
    margin-left: 40px;
    padding-top: 10px;
}
[type="text"] {
    padding: 5px;
    margin-left: 30px;
}
.accordion-first [type="button"] {
    width: 70px;
}
td {
    padding: 0px 0px 10px 20px;
}
tr:nth-child(3) input, tr:nth-child(4) input {
    width: 400px;
}
.step-button {
    display: flex;
    justify-content: end;
}
.step-button > p {
    margin: 20px 20px 20px 0px;
    display: inline-block;
    width: 120px;
    height: 16px;
    border: 1px solid black;
    text-align: center;
    line-height: 16px;
    padding: 12px 0px;
}
.reserv-info {
    width: 990px;
    margin-left: 40px;
    border: 1px solid black;
    padding-left: 30px;
}
.reserv-info > * {
    padding: 5px;
    margin: 10px 0px;
}
#branch-offices {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10px;
}
#branch-offices input {
    display: none;
}
#branch-offices > div {
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
#branch-offices > div > label {
    display: block;
    width: 120px;
    line-height: 16px;
    text-align: center;
    padding: 12px 0px;
}
.seat-map {
    width: 1020px;
    height: 400px;
    position: relative;
    border: 1px solid black;
    align-content: start;
    padding-top: 0px;
}
.seat-map [type="checkbox"] {
    display: none;
}
.seat-map > div {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 20px;
    font-size: 15px;
    box-sizing: border-box;
}
.seat-map > div:hover {
    background-color: #F67A3E;
}
.seat-map label {
    display: block;
    width: 40px;
    line-height: 16px;
    text-align: center;
    padding: 12px 0px;
}
#accord-third {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
}
#menu-board {
    width: 600px;
    border: 1px solid black;
}
#menu-board > ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
#menu-board a {
    display: inline-block;
    width: 120px;
    color: black;
    text-decoration: none;
    text-align: center;
    line-height: 16px;
    padding: 12px 0px;
}
#menu-board a:hover {
    background-color: #F67A3E;
}
.sub-board {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    height: 440px;
    overflow-y: scroll;
}
.sub-board > div {
    width: 130px;
    height: 200px;
    text-align: center;
    margin: 10px 20px;
}
.sub-board img {
    width: 100%;
}
#menu-basket {
    margin-left: 20px;
    width: 480px;
    height: 480px;
    border: 1px solid black;
    box-sizing: border-box;
}
#menu-basket > div:not(#select-menu-list) {
    border: 1px solid black;
    line-height: 16px;
    padding: 12px 10px;
}
#menu-basket > #select-menu-list {
    height: 355px;
    overflow-y: scroll;
}
#select-menu-list .select-menu-info {
    border: 1px solid black;
    margin: 5px;
    background-color: #F67A3E;
}
.select-menu-info {
    display: flex;
    flex-flow: row nowrap;
    width: 450px;
}
.select-menu-name {
    width: 350px;
}
.select-menu-count {
    display: flex;
    width: 100px;
    height: 30px;
    margin-top: 16.5px;
    text-align: center;
    position: relative;
    justify-content: right;
}
.select-menu-count > [type="text"], .select-menu-count > [type="button"] {
    width: 25px;
    margin: 0px 3px;
}
.select-menu-price {
    display: flex;
    justify-content: right;
}
.menu-delete {
    margin: 0px 5px 0px 10px;
}
#select-menu-list .main-menu {
    margin-left: 10px;
}
#select-menu-list .sub-option {
    margin-left: 30px;
}
#textarea {
    margin: 20px 0px 0px 40px;
}
#textarea p {
    margin-bottom: 10px;
}
textarea {
    width: 1020px;
}
.step-button > button {
    margin: 20px 20px 20px 0px;
    width: 120px;
    padding: 12px 0px;
}
footer {
    width: 100%;
    background-color: #F67A3E;
}
#footer-container {
    width: 1200px;
    padding: 40px 0px;
    margin: 0px auto;
}
#footer-container > p:first-child {
    font-weight: bold;
    font-size: 20px;
}
#footer-container > p:not(:first-child) {
    font-size: 15px;
    margin: 5px 0px 0px 20px;
}



#modal-background {
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background: rgba(0, 0, 0, 0.6);
    z-index:200;
}
#modal-main-container1, #modal-main-container2 {
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:450px;
    height: 600px;
    background:#fff;
    z-index:250;
}
.modal-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #F67A3E;
    box-sizing: border-box;
}
.modal-contents-container {
    width: 450px;
    height: 537px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    overflow-y: scroll;
}
.modal-content-box {
    width: 100px;
    text-align: center;
    padding: 10px;
    box-sizing: content-box;
    margin: 5px;
}
.modal-content-box input {
    display: none;
}
.modal-content-box img {
    width: 100%;
}
.modal-button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 30px;
}
.modal-button-container > div {
    text-align: center;
    width: 48%;
    height: 30px;
    background-color: #F67A3E;
    box-sizing: border-box;
    padding: 5px 0px;
    line-height: 20px;
    font-size: 20px;
    box-sizing: border-box;
}