<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/notice/notice.css">
    <script src="/lib/jquery-3.6.3.js"></script>
    <script src="/lib/jquery-ui.js"></script>
    <script src="/js/notice/notice.js"></script>
    <script type="text/javascript">
    $(function() {
		$('.search_btn').click(function() {
			location.href='/notice?pageNo=' + $('.current_page').text() + '&search=' + $('.search').val();
		});
	})
    </script>
</head>
<body>
    <th:block th:include="/fragments/header.html"></th:block>
    <div class="main_container">
        <section>
            <article>
                <div class="notice_container">
                    <h2>공지사항</h2>
                   <input type="text" placeholder="검색어를 입력해주세요" class="search">
                   <button type="button" class="search_btn">검색</button>
                </div>
                <div class="select_box">
                    <select class="select_ui">
                        <option>조회순</option>
                        <option>최신순</option>
                      </select>  
                </div>
                    <table>
                        <tr>
                            <th>번호</th>
                            <th>이름</th>
                            <th>제목</th>
                            <th>날짜</th>
                            <th>조회수</th>
                        </tr>
                        <tr th:each="notice : ${list}">
	                        <td>[[${notice.NOTICE_NO}]]</td>
	                        <td>[[${notice.MANAGER_ID}]]</td>
	                        <td><a th:href="@{/notice/NoticeContent/{NoticeNo}(NoticeNo=${notice.NOTICE_NO})}">[[${notice.TITLE}]]</a></td>
	                        <td>[[${notice.WRITE_DATE}]]</td>
	                        <td>[[${notice.NOTICE_COUNT}]]</td>
                        </tr>
                    </table>
                    <div class="page_move_container">
						<a th:if="${pagging.priviousPageGroup }" th:href="@{/notice(pageNo=${pagging.startPageOfPageGroup -1}, search=${search})}">◀</a>
						
						<th:block th:each = "i : ${#numbers.sequence(pagging.startPageOfPageGroup,pagging.endPageOfPageGroup)}">
						<span th:if="${i == pagging.currentPageNo }" class="current_page" th:text="${i}"></span>
						<a th:if="${i != pagging.currentPageNo }" th:href="@{/notice(pageNo=${i}, search=${search})}" th:text="${i}"></a>
						</th:block>
						
						<a th:if="${pagging.nextPageGroup }" th:href="@{/notice(pageNo=${pagging.endPageOfPageGroup + 1}, search=${search})}">▶</a>
					</div>
                </article>
            </div>
        </section>
        <button class="modal_button">1대1 채팅</button>
    <div class="modal">
        <div class="modal_content" title="1대1 채팅방">
            <div class="modal_head">
                <button class="connect_btn">상담사 연결</button>
                <p class="modal_name">1대1 채팅방</p>
                <div class="close"><p>x</p></div>
            </div>
            <div class="modal_chat">
                 <input type="text" class="chat_bar">
            </div>
        </div>
    </div>
    <div class="modal_sub">
        <div class="modal_sub_content">
            <div class="m_head">
                <div class="sub_close">x</div>
            </div>
            <div class="sub_modal_name_box">
                <p>이름</p>
                <input type="text" name="이름" maxlength="10">
            </div>
            <div class="sub_modal_tel_box">
                <p>연락처</p>
                <input type="tel" name="연락처">
            </div>
            <div class="modal_txt_box">
                <p>업무의 양에 따라  전화 연결이 oo 분 지연 될 수 있습니다
                    시간이 걸리더라도 너른 마음으로 양해 부탁드리겠습니다.</p>
            </div>
            <div class="complete_box">
                <button class="complete_btn">입력완료</button>
            </div>
        </div>
    </div>
        <footer>
            <div id="footer-container">
                <p>브랜드명<p>
                <p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
                <p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
                <p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
                <p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
            </div>
        </footer>
</body>
</html>