*{
    padding: 0;
    margin: 0;
}
.main_container{
    width: 300px;
    height: 400px;
    border: 1px solid #F67A3E;
    background-color: #F67A3E;
}
.title{
    text-align: right;
}
.title2{
    border: 1px solid white;
    color: #F67A3E;
    background-color: white;
    width: 60px;
    height: 28px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: -10px;
    margin: 0 auto;
}
.address2{
    border: 1px solid #F67A3E;
    background-color: white;
    color: #F67A3E;
    font-size: 20px;
    border-radius: 10px;
    width: 270px;
    padding-left: 26px;


}
.call2{
    background-color: white;
    color: #F67A3E;
    font-size: 20px;
    border-radius: 10px;
    width: 270px;
    padding-left: 26px;
    margin-top: -10px;
    margin-left: 2px;
}
.time2{
    background-color: white;
    color: #F67A3E;
    font-size: 20px;
    border-radius: 10px;
    width: 270px;
    padding-left: 26px;
    margin-top: -10px;
    margin-left: 2px;
}
.no_parking2{
    order: 1px solid #F67A3E;
    background-color: white;
    color: #F67A3E;
    font-size: 20px;
    border-radius: 10px;
    width: 270px;
    padding: 6px 14px;
    margin-top: -10px;
}
.no_parking2 p{
    margin-left: 15px;
}
.title img{
    width: 20px;
    height: 20px;

}
.address  img{
    width: 20px;
    height: 20px;
    margin-bottom: -28px;
    margin-left: 8px;
}
.call img{
    width: 20px;
    height: 20px;
    margin-bottom: -28px;
    margin-left: 5px;
    margin-bottom: -18px;
    margin-left: 8px;
}
.time img{
    width: 20px;
    height: 20px;
    margin-bottom: -16px;
    margin-left: 8px;
    
}
.no_parking img{
    width: 20px;
    height: 20px;
    margin-bottom: -24px;
    margin-left: 8px;
    
}

