*{
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    background-color: #F67A3E;
    position: fixed;
    z-index: 100;
}
#header-main-container {
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}
#header-logo {
    width: 140px;
    height: 120px;
    text-align: center;
}
#header-sub-container {
    width: 1060px;
    display: flex;
    flex-flow: column nowrap;
}
#login {
    width: 1060px;
    height: 60px;
    text-align: end;
}
#header-logo > img {
    padding-top: 29.71px;
    width: 100px;
}
#header-nav-main {
    width: 1060px;
    height: 60px;
    overflow: hidden;
}
#header-nav-main:hover {
    height: 260px;
}
ul.header-largeMenu {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
ul.header-largeMenu a {
    font-weight: bold;
    line-height: 30px;
    font-size: 30px;
    padding: 15px 0;
}
#header-nav-sub {
    display: flex;
    flex-flow: row nowrap;
}
ul.header-smallMenu {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
}
ul.header-smallMenu a {
    line-height: 25px;
    font-size: 25px;
    width: 265px;
    padding: 12.5px 0;
}
#header-nav-main a:not(#login) {
    color: black;
    text-align: center;
    display: inline-block;
    width: 265px;
    text-decoration: none;
}


.main_container{
    width: 1200px;
   
}

.main_container > img{
    width: 900px;
    height: 500px;
    margin: 200px 0px 0px 200px;
}
.map_button{
    width: fit-content;
    margin: 0px auto;
}


.map_btn{
    width: 300px;
    height: 70px;
    border-radius: 10px 10px;
    background-color: #F67A3E;
    color: white;
    font-size: 20px;
    border: 1px solid #F67A3E;
    margin: 70px;

}
.search{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -555px;
    margin-right: 230px;
}
.search img{
    width: 20px;
    height: 20px;

}

.detail_search{
    border: 1px solid #F67A3E;
    width: 400px;
    height: 600px;
    float: right;
    margin-top: -715px;
    margin-right: 200px;
}
.option{
    border: 1px solid #F67A3E;
    width: 85px;
    height: 33px;
    color: #F67A3E;
    text-align: center;
    padding-top: 10px;
    margin:10px auto;
}
.store{
    border: 1px solid #F67A3E;
    width: 85px;
    height: 33px;
    color: #F67A3E;
    text-align: center;
    padding-top: 10px;
    margin: 30px 50px;
}
.region{
    border: 1px solid #F67A3E;
    width: 85px;
    height: 33px;
    color: #F67A3E;
    text-align: center;
    padding-top: 10px;
    margin-left: 265px;
    margin-top: -75px;
}
.text_search{
    text-align: center;
    
}
input[type="text"]{
    width: 200px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid #F67A3E;
}
.box1 img{
    width: 30px;
    height: 20px;
    border: 1px solid #F67A3E;
    margin-block: -146px;
    margin-left: 24px;
    float: right;
    margin-right: 70px;
    margin-top: 110px;
}
.store_box1{
    width: 200px;
    height: 200px;
    border: 1px solid #F67A3E;
    width: 350px;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
    color: #F67A3E;
}
.store_box1 p{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    
    
}

.box2 img{
    width: 30px;
    height: 20px;
    border: 1px solid #F67A3E;
    margin-block: -146px;
    margin-left: 24px;
    float: right;
    margin-right: 70px;
    margin-top: 110px;
}
.store_box2{
    width: 200px;
    height: 200px;
    border: 1px solid #F67A3E;
    width: 350px;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
    color: #F67A3E;
}
.store_box2 p{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}



   




















footer {
    width: 100%;
    background-color: #F67A3E;
}
#footer-container {
    width: 1200px;
    padding: 40px 0px;
    margin: 0px auto;
}
#footer-container > p:first-child {
    font-weight: bold;
    font-size: 20px;
}
#footer-container > p:not(:first-child) {
    font-size: 15px;
    margin: 5px 0px 0px 20px;
}
