*{
    padding: 0;
    margin: 0;
}
.main_container{
    border: 20px solid #F67A3E;
    width: 144px;
    height: 215px;
    background-color: white;
    text-align: right;
    border-radius: 10px;
}
.close img{
    margin-bottom: -24px;
    width: 20px;
    height: 20px;
    margin-left: 164px;
}
.sub_container{
    margin-top: 5px;
}


.hall_reservation img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    float: left;
}
.hall_reservation p {
    color: #F67A3E;
    font-size: 15px;
    margin-right: 49px;
    margin-top: 30px;
}


    
.delivery img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    float: left;
    margin-top: 35px;
}

.delivery p{
    color: #F67A3E;
    font-size: 15px;
    padding-top: 37px;
    margin-right: 69px;
}

.parking img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    float: left;
}

.parking p{
    color: #F67A3E;
    font-size: 15px;
    margin-top: 35px;
    margin-right: 69px;
}
.apply{
    border: 1px solid #F67A3E;
    font-size: 20px;
    color: white;
    background-color: #F67A3E;
    width: 50px;
    height: 30px;
    margin-left: 50px;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;
}

.check_box1 input[type="checkbox"]{
        display: none;
}
.check_box1 input[type="checkbox"] + label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #F67A3E;
    position: relative;
    float: left;
}
.check_box1 input[id="check1"]:checked + label::after{
    content: '✔';
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    left: -7px;
    top: -7px;
    color: #F67A3E;
}






.check_box2 input[type="checkbox"]{
        display: none;
}
.check_box2 input[type="checkbox"] + label{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #F67A3E;
    position: relative;
    float: left;
    margin-top: 35px;
}
    
.check_box2 input[id="check2"]:checked + label::after{
    content: '✔';
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    left: -7px;
    top: -7px;
    color: #F67A3E;
}






.check_box3 input[type="checkbox"]{
        display: none;
}
.check_box3 input[type="checkbox"] + label{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #F67A3E;
    position: relative;
    float: left;
    
}
.check_box3 input[id="check3"]:checked + label::after{
    content: '✔';
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    left: -7px;
    top: -7px;
    color: #F67A3E;
}


  











