<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매장검색 상세2</title>
    <link rel="stylesheet" href="/css/find_store/store_searh.detail2.css">
    <script src="/lib/jquery-3.6.3.js"></script>
    <script src="/js/find_store/store_search.detail2.js"></script>
    
</head>
<body>
    <div class="main_container">
        <div class="title">
            <img src="../../source/img/close.img.png" alt="">
        </div>
        <div class="title2">
            신촌점
        </div>
        <div class="address">
            <img src="../../source/img/free-icon-address-3838205.png" alt="">
        </div>
        <div class="address2">
                주소
                <br>
                서울 특별시 마포구 oooo
        </div>
   
        <div class="call">
            <img src="../../source/img/free-icon-phone-7222563.png" alt="">
        </div>
        <div class="call2">
            연락처
            <br>
            1111-2222
        </div>
        <div class="time">
            <img src="../../source/img/free-icon-time-management-2280275.png" alt="">
        </div>
        <div class="time2">
            이용시간
            <br>
            매장: 연중 무휴(10:00~22:00)
            <br>
            홀 예약: 10:00~21:00
            <br>
            배달:10:00~21:00
            <br>
            주방 마감 21:30
        </div>  
        <div class="parking">
            <img src="../../source/img/free-icon-parking-3477109.png" alt="">
        </div>
        <div class="parking2">
            <p>주차가능</p>        
        </div>

     
            
    

    </div>
</body>
</html>