<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매장옵션</title>
    <link rel="stylesheet" href="/css/find_store/store_find_option.css">
    <script src="/lib/jquery-3.6.3.js"></script>
    <script src="/js/find_store/store_find_option.js"></script>
   
</head>
<body> 
    <div class="close">
        <img src="../../source/img/close.img.png" alt="">
    </div>
    <div class="main_container"> 
       
        <div class="sub_container">
            <div class="hall_reservation">
                <div class="check_box1">
                    <input type="checkbox" id="check1">
                    <label for="check1"></label>
                </div>
                <img src="../../source/img/icon-reservation.png" alt="">
                <p>홀 예약</p>
            </div>
            <div class="delivery">
                <div class="check_box2">
                    <input type="checkbox" id="check2">
                    <label for="check2"></label>
                </div>
                <img src="../../source/img/icon-delivery.png" alt="">
                <P>배달</P>
            </div>
            <div class="parking">
                <div class="check_box3">
                    <input type="checkbox" id="check3">
                    <label for="check3"></label>
                </div>
                <img src="../../source/img/free-icon-parking-3477109.png" alt="">
                <p>주차</p>
            </div>
            <div class="apply">
                적용
            </div>
        </div>

        
        
            

        
       

    </div>
   

    
</body> 
</html>
            
    
