<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역검색</title>
    <link rel="stylesheet" href="/css/find_store/store_region_search.css">
    <script src="/lib/jquery-3.6.3.js"></script>
    <script src="/js/find_store/store_region_search.js"></script>
    
    
</head>

<body>
    <th:block th:include="/fragments/header.html"></th:block>
    
        <div class="main_container">
            <img src="../../source/img/map.png" alt="">
            <div class="map_button">
            <button class="map_btn">내 위치 중심으로 지도보기</button>
            </div>
        </div>
        <div class="search">
            <img src="/img/office/search/icon-search.png" alt="">
        </div>
        <div class="detail_search">
            <div class="option">
                옵션선택
            </div>
            <div class="store">
                매장검색
            </div>
            <div class="region">
                지역검색
            </div>
            <div class="text_search">
                <input type="text" placeholder="매장명 검색">
            </div>

            <div class="region1">
                <select name="region" class="select">
                    <option selected>서울</option>
                </select>
            </div>
            <div class="region2">
                <select name="region" class="select">
                    <option selected>구,군</option>
                    <option value="">강서구</option>
                    <option value="">관악구</option>
                    <option value="">마포구</option>
                    <option value="">서대문구</option>
                    <option value="">양천구</option>
                    <option value="">영등포구</option>
                </select>
            </div>
        </div>
        


          
                
                 
   






    <footer>
        <div id="footer-container">
            <p>브랜드명
            <p>
            <p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
            <p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
            <p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
            <p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
        </div>
    </footer>


</body>

</html>