@charset "UTF-8";
/*FAQ 관리 페이지 CSS*/
* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px 30px;
}
#side-menu {
    width: 200px;
    border-collapse: collapse;
    position: fixed;
}
#side-menu > div {
    padding: 22px 10px;
    border: 1px solid black;
}
#side-menu ul {
    list-style-type: none;
    margin-left: 20px;
}
#side-menu li {
    margin-top: 10px;
    font-size: 15px;
}
#side-menu > div > p {
    font-size: 20px;
}
#side-menu a {
    color: black;
    text-decoration: none;
}
#logo > img {
    width: 100%;
}
#login-box {
    font-size: 20px;
    text-align: center;
}
#title-main-space {
    border: 1px solid black;
    width: 1560px;
    margin-left: 220px;
    padding: 40px 40px 30px 40px;
    border-width: 1px 1px 0px 1px;
    position: fixed;
    background-color: white;
}
#title {
    font-size: 30px;
    font-weight: bold;
}
#title-sub-space > hr {
    border: 1px solid black;
    margin-top: 7px;
}
#empty {
    width: 1640px;
    height: 120px;
    margin-left: 220px;
}
#content-space {
    border: 1px solid black;
    width: 1560px;
    min-height: 765px;
    margin-left: 220px;
    padding: 0px 40px 40px 40px;
    border-width: 0px 1px 1px 1px;
}
#FAQ-add > p{
    font-size: 20px;
    font-weight: bold;
}
#name-box{
    display: flex;
    flex-direction: row;
}
#name-box > p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
#name-box > input{
    margin-top: 20px;
    margin-left: 100px;
    width: 500px;
    height: 25px;
}
#text-box{
    display: flex;
    flex-direction: row;
}
#text-box > p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
#text-box > input{
    margin-top: 20px;
    margin-left: 100px;
    width: 1200px;
    height: 120px;
}
#FAQ-add > button{
    margin-left: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 30px;
}
#FAQ-change{
    margin-top: 30px;
}
#FAQ-change > p{
    font-size: 20px;
    font-weight: bold;
}
#change-select{
    display: flex;
    flex-direction: row;
}
#change-select > p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
#change-select > input{
    margin-top: 20px;
    margin-left: 55px;
    width: 500px;
    height: 25px;
}
#change-select > button{
    margin-left: 30px;
    margin-top: 18px;
    width: 100px;
    height: 30px;
}
#change-name{
    display: flex;
    flex-direction: row;
}
#change-name > p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
#change-name > input{
    margin-top: 20px;
    margin-left: 55px;
    width: 500px;
    height: 25px;
}
#change-text{
    display: flex;
    flex-direction: row;
}
#change-text > p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
#change-text > input{
    margin-top: 20px;
    margin-left: 55px;
    width: 1200px;
    height: 120px;
}
#FAQ-change > button{
    margin-left: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 30px;
}
#FAQ-remove > p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
#remove-box{
    display: flex;
    flex-direction: row;
} 
#remove-box > input{
    margin-top: 10px;
    margin-left: 142px;
    width: 500px;
    height: 25px;
}
#remove-box > button{
    width: 100px;
    height: 30px;
    margin-top: 9px;
    margin-left: 30px;
}
#FAQ-remove > button{
    margin-left: 140px;
    margin-top: 12px;
    width: 100px;
    height: 30px;
}