<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오더</title>
    <link rel="stylesheet" href="/order/order.css">
    <script src="/lib/jquery-3.6.3.js"></script>
    <script src="/lib/jquery-ui.js"></script>
    <script src="/order/order.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function() {
            $('#reserv-search').click(function() {
                let date = $('[type="date"]').val();
                let hour = $('[name="hour"]').val();
                let min = $('[name="min"]').val();
                let persons = $('#personnel').val();
                let param = 'date=' + date + '&time=' + hour + min + '&persons=' + persons;
                
                $.ajax({
                    url : '/order/search/office',
                    data : param,
                    type : 'post',
                    success : function(result) {
                        let tag ='';
                        for(let i = 0; i < result.length; i++) {
                            tag += '<div id="branch-office"><input type="radio" name="branch-office"';
                            tag += 'id=[[${result[i].BRANCH_OFFICE_CODE}]] value=[[${result[i].BRANCH_OFFICE_CODE}]]>';
                            tag += '<label for=[[${result[i].OFFICE_NAME}]]>[[${result[i].OFFICE_NAME}]]</label></div>';
                        }
                        $('#branch-offices').html(tag);
                    }
                })
                
            });


            $('#to-payment').click(function() {
                let order = $('[name="order"]:checked').val();
                let name = $('[name="name"]').val();
                let tel = $('[name="tel"]').val();
                let address = $('#main-address').val();
                let addressDetail = $('#sub-address').val();
                let date = $('[type="date"]').val();
                let hour = $('[name="hour"]').val();
                let min = $('[name="min"]').val();
                let persons = $('#personnel').val();
                let branchOffice = $('[name="branch-office"]:checked').val();
                let seats = [];
                $('.seat:checked').each(function(i) {
                    seats.push($(this).next().text());
                });
                
                console.log(seats);

                switch (order) {
                    case "reservation":
                        
                        break;
                    case "packaging":
                        
                        break;

                    case "packaging":

                        break;
                    default:
                        break;
                }

            });
        });
    </script>
</head>
<body>
    <header>
        <div id="header-main-container">
            <div id="header-logo"><img src="../../source/img/logo.png" alt="logo"></div>
            <div id="header-sub-container">
                <div id="login"><a href="#">로그인</a></div>
                <nav id="header-nav-main">
                    <ul class="header-largeMenu">
                        <li><a href="#">메뉴소개</a></li>
                        <li><a href="#">오더</a></li>
                        <li><a href="#">매장소개</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                    <div id="header-nav-sub">
                        <ul class="header-smallMenu">
                            <li><a href="#">전체메뉴</a></li>
                            <li><a href="#">인기메뉴</a></li>
                            <li><a href="#">세트메뉴</a></li>
                            <li><a href="#">사이드 & 음료</a></li>
                        </ul>
                        <ul class="header-smallMenu">
                            <li><a href="#">오더</a></li>
                        </ul>
                        <ul class="header-smallMenu">
                            <li><a href="#">매장검색</a></li>
                        </ul>
                        <ul class="header-smallMenu">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">1:1 문의</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <p>오더</p>
        <hr>
        <div class="order-accordion">
            <p>오더선택</p>
            <div class="accordion-first">
                <div id="input-radio">
                    <div>
                        <input type="radio" name="order" id="reserv" value="reservation">
                        <label for="reserv">예약</label>
                    </div>
                    <div>
                        <input type="radio" name="order" id="deliv" value="delivery">
                        <label for="deliv">배달</label>
                    </div>
                    <div>
                        <input type="radio" name="order" id="pack" value="packaging">
                        <label for="pack">포장</label>
                    </div>
                </div>
                <p>고객 정보</p>
                <div class="attach">
                    <table>
                        <tr>
                            <td>이름</td>
                            <td colspan="2"><input type="text" name="name"></td>
                        </tr>
                        <tr>
                            <td>연락처</td>
                            <td colspan="2"><input type="text" name="tel"></td>
                        </tr>
                        <tr>
                            <td>주소</td>
                            <td><input type="text" id="main-address"></td>
                            <td><input type="button" id="address-search" value="검색"></td>
                        </tr>
                        <tr>
                            <td>상세주소</td>
                            <td colspan="2"><input type="text" id="sub-address"></td>
                        </tr>
                    </table>
                </div>
                <div class="step-button">
                    <p class="next-step">다음 단계로</p>
                </div>
            </div>
            <p>좌석선택</p>
            <div class="accordion-second">
                <p>예약 정보</p>
                <div class="reserv-info">
                    <input type="date">
                    <select name="hour">
                        <option value="10">10시</option>
                        <option value="11">11시</option>
                        <option value="12">12시</option>
                        <option value="13">13시</option>
                        <option value="14">14시</option>
                        <option value="15">15시</option>
                        <option value="16">16시</option>
                        <option value="17">17시</option>
                        <option value="18">18시</option>
                        <option value="19">19시</option>
                        <option value="20">20시</option>
                        <option value="21">21시</option>
                    </select>
                    <select name="min">
                        <option value="00">00분</option>
                        <option value="20">20분</option>
                        <option value="40">40분</option>
                    </select>
                    <select name="personnel" id="personnel">
                        <option value="1">1명</option>
                        <option value="2">2명</option>
                        <option value="3">3명</option>
                        <option value="4">4명</option>
                        <option value="5">5명</option>
                        <option value="6">6명</option>
                    </select>
                    <input type="button" id="reserv-search" value="예약가능 지점조회">
                </div>
                <p>예약가능 지점</p>
                <div class="attach" id="branch-offices">

                            

                </div>
                <p>좌석 배치도</p>
                <div class="attach seat-map">
                    <div>
                        <input type="checkbox" id="seat01" class="seat">
                        <label for="seat01">01</label>
                    </div>
                </div>
                <div class="step-button">
                    <p class="prev-step">이전 단계로</p>
                    <p class="next-step">다음 단계로</p>
                </div>
            </div>
            <p>메뉴선택</p>
            <div class="accordion-third">
                <div id="accord-third">
                    <div id="menu-board">
                        <ul>
                            <li><a href="#tab_all_menu">전체메뉴</a></li>
                            <li><a href="#tab_popular_menu">인기메뉴</a></li>
                            <li><a href="#tab_set_menu">세트메뉴</a></li>
                            <li><a href="#tab_side_menu">사이드</a></li>
                            <li><a href="#tab_beverage_menu">음료</a></li>
                        </ul>
                        <div class="sub-board" id="tab_all_menu">
                            <div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>전체메뉴1</p>
                                <p>가격</p>
                            </div>
                            <div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>전체메뉴2</p>
                                <p>가격</p>
                            </div>
                            <div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>전체메뉴3</p>
                                <p>가격</p>
                            </div>
                            <div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>전체메뉴4</p>
                                <p>가격</p>
                            </div>
                            <div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div>
                            <div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div>
                            <div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div>
                            <div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div>
                        </div>
                        <div class="sub-board" id="tab_popular_menu">
                            <div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>인기메뉴</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div>
                        </div>
                        <div class="sub-board" id="tab_set_menu">
                            <div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>세트메뉴</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div>
                        </div>
                        <div class="sub-board" id="tab_side_menu">
                            <div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>사이드</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div>
                        </div>
                        <div class="sub-board" id="tab_beverage_menu">
                            <div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>음료</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div><div>
                                <img src="../../source/img/burger.png" alt="burger">
                                <p>메뉴이름</p>
                                <p>가격</p>
                            </div>
                        </div>
                    </div>
                    <div id="menu-basket">
                        <div>주문리스트</div>
                        <div id="select-menu-list">
                            <div>
                                <p class="main-menu">-메뉴1<span class="menu-delete">X</span></p>
                                <p class="sub-option">옵션1</p>
                                <p class="sub-option">옵션2</p>
                            </div>
                        </div>
                        <div>개수 : 6개</div>
                        <div>금액 : 55,000원</div>
                    </div>
                </div>
                <div class="step-button">
                    <p class="prev-step">이전 단계로</p>
                    <p class="next-step">다음 단계로</p>
                </div>
            </div>
            <p>요청사항</p>
            <div class="accordion-fourth">
                <div id="textarea">
                    <p>추가로 매장에 요청할 사항을 적어주세요.</p>
                    <textarea name="to_office_request" cols="30" rows="10"></textarea>
                </div>
                <div class="step-button">
                    <p class="prev-step">이전 단계로</p>
                    <button id="to-payment">결제 페이지로</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div id="footer-container">
            <p>브랜드명<p>
            <p>국가는 대외무역을 육성하며, 이를 규제·조정할 수 있다. 환경권의 내용...</p>
            <p>법원은 최고법원인 대법원과 각급법원으로 조직된다. 중앙선거관리위원회...</p>
            <p>비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·...</p>
            <p>감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타...</p>
        </div>
    </footer>
    <div id="modal-background"></div>
    <div id="modal-main-container1">
        <div class="modal-title">
            <p>옵션1</p>
        </div>
        <div class="modal-contents-container">
            <div class="modal-content-box">
                <input type="radio" id="option1-menu1" name="option1">
                <label for="option1-menu1">
                    <img src="../../source/img/burger.png" alt="">
                    <p>감자튀김</p>
                    <p>3,000원</p>
                </label>
            </div>
            <div class="modal-content-box">
                <input type="radio" id="option1-menu2" name="option1">
                <label for="option1-menu2">
                    <img src="../../source/img/burger.png" alt="">
                    <p>치즈스틱</p>
                    <p>3,000원</p>
                </label>
            </div>
            <div class="modal-content-box">
                <input type="radio" id="option1-menu3" name="option1">
                <label for="option1-menu3">
                    <img src="../../source/img/burger.png" alt="">
                    <p>너겟</p>
                    <p>3,000원</p>
                </label>
            </div>
            <div class="modal-content-box">
                <input type="radio" id="option1-menu4" name="option1">
                <label for="option1-menu4">
                    <img src="../../source/img/burger.png" alt="">
                    <p>어니언링</p>
                    <p>3,000원</p>
                </label>
            </div>
            <div class="modal-content-box">
                <input type="radio" id="option1-menu5" name="option1">
                <label for="option1-menu5">
                    <img src="../../source/img/burger.png" alt="">
                    <p>치즈감자튀김</p>
                    <p>3,000원</p>
                </label>
            </div>
            <div class="modal-content-box">
                <input type="radio" id="option1-menu6" name="option1">
                <label for="option1-menu6">
                    <img src="../../source/img/burger.png" alt="">
                    <p>양념감자튀김</p>
                    <p>3,000원</p>
                </label>
            </div>
        </div>
        <div class="modal-button-container">
            <div class="cancel">취소</div>
            <div class="complate">완료</div>
        </div>
    </div>
    <div id="modal-main-container2">
        <div class="modal-title">
            <p>옵션2</p>
        </div>
        <div class="modal-contents-container">
            <div class="modal-content-box">
                <input type="radio" id="option2-menu1" name="option2">
                <label for="option2-menu1">
                    <img src="../../source/img/burger.png" alt="">
                    <p>감자튀김</p>
                    <p>3,000원</p>
                </label>
            </div>
            <div class="modal-content-box">
                <input type="radio" id="option2-menu2" name="option2">
                <label for="option2-menu2">
                    <img src="../../source/img/burger.png" alt="">
                    <p>치즈스틱</p>
                    <p>3,000원</p>
                </label>
            </div>
            <div class="modal-content-box">
                <input type="radio" id="option2-menu3" name="option2">
                <label for="option2-menu3">
                    <img src="../../source/img/burger.png" alt="">
                    <p>너겟</p>
                    <p>3,000원</p>
                </label>
            </div>
            <div class="modal-content-box">
                <input type="radio" id="option2-menu4" name="option2">
                <label for="option2-menu4">
                    <img src="../../source/img/burger.png" alt="">
                    <p>어니언링</p>
                    <p>3,000원</p>
                </label>
            </div>
            <div class="modal-content-box">
                <input type="radio" id="option2-menu5" name="option2">
                <label for="option2-menu5">
                    <img src="../../source/img/burger.png" alt="">
                    <p>치즈감자튀김</p>
                    <p>3,000원</p>
                </label>
            </div>
            <div class="modal-content-box">
                <input type="radio" id="option2-menu6" name="option2">
                <label for="option2-menu6">
                    <img src="../../source/img/burger.png" alt="">
                    <p>양념감자튀김</p>
                    <p>3,000원</p>
                </label>
            </div>
        </div>
        <div class="modal-button-container">
            <div class="cancel">취소</div>
            <div class="complate">완료</div>
        </div>
    </div>
</body>
</html>
</html>